.footercss{

        margin-top: 1rem;
        padding: 1rem;
        background-color: rgb(44, 43, 41);
        position: absolute;
       
        width: 100%;
        
      }
.hh{

    color:rgb(231, 231, 231);
}
